@import "tailwindcss";

:root {
  --bg-dark: #090e17;
  --bg-sidebar: #131b2c;
  --bg-card: #141c2c;
  --text-primary: #e2e8f0;
  --text-secondary: #94a3b8;
  --accent-blue: #3b82f6;
  --accent-purple: #8b5cf6;
  --accent-green: #10b981;
}

body {
  background-color: var(--bg-dark);
  color: var(--text-primary);
  font-family: Inter, system-ui, sans-serif;
  margin: 0;
}
